# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Topics/Multidimensional array/Swap the columns/out/
/Topics/Multidimensional array/Swap the columns/out/production/classes/